body{
    
    display:flex;
    align-items: center;
    justify-content: center;
    margin:0;
    height:100vh;
    font-family: Roboto;

    background: linear-gradient(180deg, #29E3EF 0%, rgba(255, 255, 255, 0) 100%), #9040F7;
}

a{
    color: #29E3EF;
}



h1,h2,h3{
    font-family: Bree Serif;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
}

h2{
    color:#9040F7;
}

.titre{
    background: #9040F7;
    padding:20px;
    display:flex;
    align-items: center;

}

.titre > a {
   position:absolute;
   transform: rotate(180deg);
}



h1{
    margin-left:auto;
    margin-right:auto;
    color: white;
}




form{
    background-color:white;
    width: 380px;
    padding-bottom:20px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.inscription > form{
    display:none;
}

.inscription > .form-active{
    display:block;
}

.contenu{
    padding:20px;
    display:flex;
    flex-direction:column;

}

label{
    font-family: Roboto;
    font-size: 14px;
    color: rgb(122, 122, 122);
    

}

input{
    border:none;
    border-bottom:solid  rgb(122, 122, 122) 2px;
    height:30px;
}

.itemformulaire{
    display: flex;
    flex-direction:column;
    margin-top:10px;
    margin-bottom:10px;
}

.view-button{
    background-color: transparent;
    border:none;
    float:right;
    width:40px;
    
   
}
.boitemdp{
    display:flex;
}

#password{
    width:100%;

}

.lienmdp{
    margin:10px;
    text-align:right;
    font-size:12px;
    text-decoration:none;
    color: rgb(122, 122, 122);
}

.boitesuivant{
    margin-top:40px;
    margin-left: auto;
    margin-right: auto;
    text-align:center;

    p{
        color: rgb(122, 122, 122);
    }

}

.suivant{
    background-color: #9040F7 ;
    color:white;
    font-family: Bree Serif;
    font-size:17px;
    border-radius:20px;
    border:none;
    padding:10px 20px;

    display:flex;
    align-items: center;

}

.arrow{
    margin-left:5px;
    width:20px;
}






